*{
    padding: 0;
    margin: 0;
}
.text-center{
    text-align: center;
}

.bg-black{
    background-color: black;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.green{
    color: green;
}

#back{
    color: darkred;
}

.material-icons{
    position: relative;
    left: -3px;
    top: 3px;
}