@media screen and (max-width: 1290px){
    nav{
        flex-direction: column;
    }
    .logo{
        order: 1;
        justify-content: center;
        margin: 12px auto;
    }
    .search{
        order: 3;
        margin: auto;
        margin-bottom: 12px;
    }
    .search input{
        width: 415px;
    }
    nav ul{
        order: 2;
        justify-content: center;
    }
    .slider img{
        height: 40vh;
    }
}

@media screen and (max-width: 730px){
    .slider img{
        height: 20vh;
    }
}

@media screen and (max-width: 430px){
    .search input{
        width: 91vw;
    }
    .nets{
        margin: 0px;
    }
}

@media screen and (max-width: 400px){
    nav ul{
        display: flex;
        flex-wrap: wrap;
    }
}