@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html{
    font-size: 1vw;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --themeCol: rgb(250, 241, 229);
}

.container{
    display: flex;
    /* flex-direction: row; */
}

.sidebar{
    /* background-color: red; */
    /* width: 15vw; */
    height: 100vh;
    background-color: var(--themeCol);
    position: fixed;
    top: 0;
    left: 0;
    
    transition: transform 0.3s ease-in;
}

.sidebarGO{
    transform: translateX(-100vw);
}

.sidebar nav{
    margin: 20vh auto;
    padding: 60px;
}

.sidebar nav li{
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 25px 0px;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.sidebar a:visited{
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 85vw;
    padding: 23px;
    margin: auto;
}



.hamburger{
    cursor: pointer;
    position: fixed;
    top: 2vh;
    left: 1vw;
}

#cross{
    margin-top: 20px;
    margin-left: 200px;
    width: 50px;
}

#ham{
    margin-top: 10px;
    margin-left: 20px;
    width: 50px;
}

@media only screen and (max-width: 1215px) {
    .devPic{
        display: none;
    }
    html{
        font-size: 1.5vw;
    }
    .sidebar nav li{
        font-size: 3rem;
    }
    #cross{
        margin-left: 300px;
        width: 70px;
    }
    
    #ham{
        width: 70px;
    }
}

@media only screen and (max-width: 1000px) {
    html{
        font-size: 1.7vw;
    }
    .sidebar nav li{
        font-size: 4rem;
    }
    #cross{
        margin-left: 180px;
        width: 70px;
    }
    
    #ham{
        width: 70px;
    }
}


